<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<content>
    <!-- Modal -->
    <div class="modal fade " id="registrate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content ">

                <div class="modal-header d-flex align-items-center justify-content-center">
                    <img src="/img/logo.png" class="imagenNavbar">
                    <p class="fs-4 fw-bold text-black text-decoration-none mb-0 ms-2">HUERTA AGROECOLOGICA</p>
                </div>

                <div class="modal-body">
                    <h2 class="fs-4 fw-bold text-success text-center">Registrate ahora</h2>
                    <p>Registrate, y en pocos minutos podrás:</p>
                    <ul>
                        <li><p class="fw-bold text-g text-opacity-75">Ver las huertas ecologicas</p></li>
                        <li> <p class="fw-bold text-opacity-50">Comprar productos en los cultivos</p></li>
                        <li> <p class="fw-bold text-opacity-50">Comentar e interactuar con otros usuarios</p></li>
                    </ul>
                    
                    <div class="d-flex justify-content-center">
                        <a href="/registrar" class="btn btn-success shadow">Comenzar ahora</a>
                    </div>
                    <hr>
                    <h2 class="fs-4 fw-bold text-primary text-center text-opacity-50">¿Ya eres parte?</h2>
                    <div class="d-flex justify-content-center ">
                        <a href="/login" class="btn btn-outline-primary shadow ">Iniciar sesión</a>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Aún no</button>
                </div>
            </div>
        </div>
    </div>
</content>

