/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28/07/2023, 11:42:29 a. m.
    Author     : User
*/


body {
  background: #ffffff !important;
  background: linear-gradient(to right, #ffffff, #80b918) !important;
}

.bg {
  background-image:  url(../img/imagen-login7.jpg) !important;
  background-position: center center !important;
  background-size: cover;
  background-repeat: no-repeat;
  
}



/*-------------------Animación mensajes de error y/o exito  ------------------------------*/

.alert {

    display: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.alert.animated.fadeIn {
    animation-name: fadeIn;
}

.alert.animated.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*Muestra el mensaje por encima de los elementos*/
.error-container {
    position: absolute !important;
  
}
.form-container {
  position: relative;
}
