<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
    data-bs-theme="light">

<head th:replace="/fragments/head :: head"> </head>

<body>

    <header>
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>

    <div class="container py-4"> <!--Aquí se crea un contenedor con clase container que contiene elementos adicionales.-->
        <div class="row">
            <div class="col-md-8 mx-auto">  <!--Dentro del contenedor, se crea una fila (row)
                                            que contiene una columna (col-md-8) con clase mx-auto, 
                                            lo que significa que la columna se centrará horizontalmente en el contenedor. 
                                            La clase col-md-8 indica que la columna ocupará 8 de las 12 columnas disponibles en dispositivos medianos 
                                            (clase md) y más grandes.   -->
                <!-- Título de la noticia -->
                <h1 th:text="${cultivo.nombreCultivo}" class="text-camp2 text-center"></h1>
                <!--Se muestra un encabezado de nivel 1 (<h1>) con el nombre de la huerta. El texto se reemplazará por el valor de la 
                variable huerta.nombreHuerta, que parece ser una variable proporcionada por el controlador de Spring Boot y resuelta por Thymeleaf. -->
                
                <hr class="my-4">  <!--Se agrega una línea horizontal para dividir visualmente los elementos en la página. -->
                <div th:if="${cultivo.productor != null}"                                       
                    style="display: flex; align-items: center; justify-content: space-between;">  
                     <!-- Esta línea condicional muestra el contenido dentro de este <div> solo si la variable huerta.productor no es nula. 
                      La propiedad display: flex se utiliza para organizar los elementos hijos en una fila, align-items: 
                      center alinea verticalmente los elementos y justify-content: space-between distribuye los elementos con un espacio entre ellos. -->
                    <div style="display: flex; align-items: center;">
                        <img th:src="@{/imagen/perfil/__${cultivo.productor.id}__}" alt="Imagen de perfil"          
                            class="rounded-circle img-fluid" style="width: 60px; height: 60px; margin-right: 10px;">
                            <!--Esta etiqueta <img> carga una imagen del perfil del productor de la huerta. Utiliza una expresión Thymeleaf (@{/imagen/perfil/__${huerta.productor.id}__})
                                              para construir la ruta de la imagen basada en el ID del productor (huerta.productor.id). -->
                        <div style="display: flex; flex-direction: column;">
                            <a th:href="@{/cultivo/__${cultivo.idCultivo}__}" class="text-muted a-card">
                                <h7 class="card-periodista">Por <span th:text="${cultivo.productor.nombreCultivo}"    
                                        class="fw-bold"></span></h7>
                            </a>
                            <!--Un enlace (<a>) que vincula a una página específica de la huerta (/huerta/{idHuerta}). 
                              El texto del enlace mostrará "Por {nombre del productor}" utilizando el nombre del productor obtenido de huerta.productornombreProductor. -->
                            <div>
                                <h7 th:text="${cultivo.productor.email}"></h7>  <!-- Muestra el correo electrónico del productor de la huerta utilizando 
                                                                               la variable huerta.productor.email.-->
                            </div>
                            
                        </div>
                             <!--Estas líneas son botones condicionales para crear una publicación. Si el usuario no ha iniciado sesión (session.usuariosession == null), 
                             se mostrará un botón que activará un modal para registrarse. Si el usuario ha iniciado sesión y tiene el rol 'CON' (hasRole('CON')), 
                             se mostrará otro botón que redirigirá al usuario a una página para crear una publicación en la huerta actual (/publicacion/huerta/{idHuerta}/crearPublicacion). -->           
                    </div>
                    <button th:if="${session.usuariosession == null}" type="button" class="btn btn-success"
                        data-bs-toggle="modal" data-bs-target="#registrate">Crear publicación</button>

                    <a sec:authorize="hasRole('CON')" th:if="${session.usuariosession.altaBaja == true}"
                        th:href="@{/publicacion/cultivo/__${cultivo.idCultivo}__/crearPublicacion}" type="button"
                        class="btn btn-success">Crear publicación</a>
                    
                    
                    <!--El contenido del fragmento modalRegistrate.html se incluye aquí. Esto implica que existe un modal que se muestra
                    para registrarse cuando el usuario hace clic en el botón "Crear publicación" cuando no ha iniciado sesión. -->

                </div>
                <content th:replace="/fragments/modalRegistrate :: content"></content>
                
                <!--Aquí se muestra una imagen del cultivo actual, cuya ruta se construye utilizando 
                el ID de la huerta (huerta.idHuerta) y se encuentra en la ruta /imagen/huerta/{idHuerta}. 
                La imagen se muestra en el tamaño de 600px de ancho y 400px de alto con un efecto de sombra (shadow-lg). -->
                <hr class="my-4">
                <!-- Imagen de la publicacion -->
                <img th:src="@{/imagen/cultivo/__${cultivo.idCultivo}__}" alt="Imagen del Cultivo"
                    class="img-fluid mb-3 w-600 h-400 shadow-lg ">

                <div class="d-flex mb-3">
                    <p class="text-muted fw-bold">Fecha de publicación: <span th:text="${cultivo.fechaAlta}"></span></p>
                </div>
                
                <!--Muestra la fecha de publicación de la huerta actual, obtenida de huerta.fechaAlta. -->

                <p th:text="${cultivo.descripcion}"></p>
                
                <!--Aquí se muestra el contenido de la huerta (huerta.cuerpo), que aparentemente es el contenido principal de la página. -->

            </div>
        </div>
        
        <!--Este bloque de código muestra un mensaje y botones condicionales para crear una nueva publicación si aún no existen publicaciones 
        (publicaciones) para la huerta actual. Si el usuario tiene el rol 'CON' y ha iniciado sesión, se muestra un botón para crear una nueva publicación.
        Si el usuario no ha iniciado sesión, se muestra un botón para registrarse y crear una publicación. -->
        
        <h1 class="text-pre text-camp2 text-center">Publicaciones</h1>
        <div class="text-center" sec:authorize="not(hasAnyRole('ROLE_ADM', 'ROLE_PRO'))"
            th:if="${#lists.isEmpty(publicaciones)}">
            <h2 class="featurette fw-normal lh-1 text-secondary-emphasis">Todavía no hay publicaciones en esta campaña.
                Anímate y empieza ahora</h2>
            <a sec:authorize="hasRole('CON')" th:if="${session.usuariosession.altaBaja == true}"
                th:href="@{'/publicacion/cultivo/' + ${cultivo.idCultivo} + '/crearPublicacion'}" type="button"
                class="btn btn-success">Crear publicación</a>
            <button th:if="${session.usuariosession == null}" type="button" class="btn btn-success"
                data-bs-toggle="modal" data-bs-target="#registrate">Crear publicación</button>
        </div>



        <!-- Seccion Publicaciones -->
        <!-- Esta sección muestra una lista de publicaciones relacionadas con la huerta actual (publicaciones). Para cada publicación (publicacion), 
        se crea una columna con clase col-md-6 col-lg-4 y se muestra el contenido de la publicación en cada una. -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4" th:each="publicacion :${publicaciones}"
                    th:if="${publicacion.altaBaja == true}">

                    <a th:href="@{/publicacion/publicacion_one/__${publicacion.idPublicacion}__}" class="a-card">
                        <div class="card shadow">
                            <img th:src="@{/imagen/publicacion/__${publicacion.idPublicacion}__}" class="card-img-top"
                                id="img-card-tamaño-pequeño" alt="...">
                            <div class="card-body">
                                <h1 class="fs-5 a-subrayado" th:text="${publicacion.titulo}"></h1>
                                <p th:text="${publicacion.descripcion}"></p>
                                <h7 class="card-votante">Por <span th:text="${publicacion.consumidor.nombreConsumidor}"
                                        class="fw-bold"></span></h7>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <section style="background-color: #BFD200;">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark">


                        <div class="card-body p-4" id="comentarios">
                            <content th:if="${#lists.isEmpty(comentarios)}"
                                sec:authorize="not(hasAnyRole('ROLE_ADM', 'ROLE_PRO'))">
                                <h4 class="mb-0">Todavía no hay comentarios en este cultivo</h4>
                                <p class="fw-light pb-2"
                                    th:text="'Sé el primero y dejá un comentario para el cultivo: '+${cultivo.nombreCultivo}">
                                </p>
                            </content>
                            <content th:if="${#lists.size(comentarios) > 0}"
                                sec:authorize="not(hasAnyRole('ROLE_ADM', 'ROLE_PRO'))">
                                <h4 class="mb-0">Comentarios recientes</h4>
                                <p class="fw-light pb-2"
                                    th:text="'Dejá un comentario para el Cultivo: '+${cultivo.nombreCultivo}">
                                </p>
                            </content>
                            <content th:if="${#lists.size(comentarios) > 0}"
                                sec:authorize="hasAnyRole('ROLE_ADM', 'ROLE_PRO')">
                                <h4 class="pb-2">Comentarios recientes</h4>
                            </content>
                            <content th:if="${#lists.isEmpty(comentarios)}"
                                sec:authorize="hasAnyRole('ROLE_ADM', 'ROLE_PRO')">
                                <h4 class="pb-2">Este Cultivo todavía no tiene comentarios</h4>
                            </content>
                            <content th:each="comentario :${comentarios}" th:if="${comentario.altaBaja}">
                                <div class="d-flex flex-start">
                                    <a class="pe-2" th:href="@{/consumidor/__${comentario.consumidor.id}__}" >
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        th:src="@{/imagen/perfil/__${comentario.consumidor.id}__}" alt="avatar" width="60"
                                        height="60" /></a>
                                    <div>
                                        <h6 class="fw-bold mb-1" th:text="${comentario.consumidor.nombreConsumidor}"></h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0" th:text="${comentario.fechaPublicacion}"></p>


                                            <a href="" class="m-2" sec:authorize="hasRole('ADM')" data-bs-toggle="modal"
                                                th:data-bs-target="'#exampleModal-' + ${comentario.idComentario}">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>


                                            <!-- Modal -->
                                            <div class="modal fade" th:id="'exampleModal-' + ${comentario.idComentario}"
                                                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Dar de
                                                                baja comentario</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Usuario responsable del comentario: <span class="fw-bold"
                                                                    th:text="${comentario.consumidor.nombreConsumidor}"></span>
                                                            </p>
                                                            <p>Comentario: "<span class="fw-bold"
                                                                    th:text="${comentario.mensaje}"></span>"</p>
                                                            <p>Fecha publicación: <span class="fw-bold"
                                                                    th:text="${comentario.fechaPublicacion}"></span></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a th:href="@{/comentario/__${comentario.huerta.idHuerta}__/baja/__${comentario.idComentario}__}"
                                                                type="button" class="btn btn-danger">Sí, eliminar</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0" th:text="${comentario.mensaje}"></p>
                                    </div>
                                </div>
                                <hr class="mb-3" style="height: 1px;" />
                            </content>
                        </div>


                        <div sec:authorize="not(hasAnyRole('ROLE_ADM', 'ROLE_PRO'))" class="card-footer py-3 border-0"
                            style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                                <img th:if="${session.usuariosession != null}"
                                    class="rounded-circle shadow-1-strong me-3"
                                    th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="avatar" width="60"
                                    height="60" />
                                <form th:action="@{/comentario/__${cultivo.idCultivo}__/comentar}" method="POST"
                                    class="form-outline w-100">
                                    <input hidden th:value="${cultivo.idCultivo}" name="idHuerta" />
                                    <textarea name="mensaje" class="form-control" rows="4"
                                        style="background: #fff;"></textarea>
                                    <div th:if="${session.usuariosession != null}" class="float-end mt-2 pt-1">
                                        <button type="submit" class="btn btn-primary btn-sm">Comentar</button>
                                    </div>
                                    <div th:if="${session.usuariosession == null}" class="float-end mt-2 pt-1">

                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#registrate">
                                            Comentar
                                        </button>
                                        <content th:replace="/fragments/modalRegistrate :: content"></content>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer th:replace="/fragments/footer :: footer"></footer>
    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/js/eventos.js" type="text/javaScript"></script>
    
</body>

</html>