
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">


<head  th:replace = "/fragments/head :: head"> </head>

<body>
    <!-- NAVIGATION BAR-->
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div class="container my5"> <!--Crea un contenedor Bootstrap con una clase "container" y "my5" 
                                    para agregar un margen en el eje Y (top y bottom). -->
        <div class="row justify-content-center">
            <!--Crea una fila Bootstrap y la centra horizontalmente en el contenedor.-->
            <div class="col-md-6"> <!--Crea una columna Bootstrap con un ancho medio ("md") de 6 columnas
                                     (ocupando la mitad del ancho disponible en dispositivos medianos-->
                <div class="card"> <!-- Crea una tarjeta Bootstrap para mostrar el contenido.-->
                    <div class="card-header"> <!-- Crea el encabezado de la tarjeta.-->
                        <h3 th:text="'Error' + ${codigo}" class="text-danger text-center"></h3>
                        <!--Crea un encabezado (<h3>) dentro del encabezado de la tarjeta.
                           Utiliza una expresión de Thymeleaf para concatenar la cadena "Error" con el valor de la variable 
                           "codigo". El resultado se mostrará en rojo (text-danger) y estará centrado (text-center).-->
                    </div>

                    <div class="card-body"> <!-- Crea el cuerpo de la tarjeta.-->
                        <h4 th:text="${menaje}" class="text-center"></h4> <!-- Crea un subtítulo (<h4>) dentro del cuerpo de la tarjeta.
                             Utiliza una expresión de Thymeleaf para mostrar el valor de la variable "mensaje". 
                            El contenido se centrará en el elemento (text-center).-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- JS Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>

</html>
   
            
        
        
        
        
        
        
        
        
        
        
        
        
