!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" data-bs-theme="light">

    <head  th:replace = "/fragments/head :: head"> </head>

    <header> 
        <nav th:replace= "/fragments/navbar :: nav"></nav>
    </header>

    <body>
        <h1 class="text-pre text-center">huertas</h1>
        <div class="container my-5">
            <div class="row">    
                <div class="col-8 offset-2">

                    <div class="mb-3 d-flex justify-content-center">
                        <h3>Buscar</h3>
                    </div>
                    <div class="mb-1 text-center">
                        <small th:if="${error != null}" th:text="${error}" class="text-danger"></small>
                    </div>
                    <form th:action="@{/huertas/lista}" method="get" class="d-flex">

                        <div class="input-group">
                            <div class="dropdown shadow" sec:authorize="hasRole('ADM')">
                                <select name="estado"  class="form-select" aria-label="Estado">
                                    <option selected>Estado</option>
                                    <option value="true" th:selected="${estado == 'true'}" >Activo</option>
                                    <option value="false" th:selected="${estado == 'false'}" >Inactivo</option>
                                </select>
                            </div>
                            <div class="dropdown shadow">
                                <select name="orden" th:selected="${orden}" class="form-select" aria-label="Orden">
                                    <option selected>Orden</option>
                                    <option  value="desc" th:selected="${orden == 'desc'}" >Recientes</option>
                                    <option  value="asc" th:selected="${orden == 'asc'}" >Antiguos</option>
                                </select>
                            </div>

                            <input name="termino" type="text" class="form-control shadow ms-2" id="nombre" placeholder="¿Que desea buscar?">
                            <button type="submit" class="btn btn-light shadow"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="container marketing huertas-list" th:each="huerta : ${huertas}">
            <div sec:authorize="hasRole('ADM')" class="row featurette py-5 campañaPost" >
                <div  class=" col-md-6">
                    <h3 class="featurette-heading fw-normal lh-1 text-center" th:text="${huerta.nombreHuerta}"></h3>
                 
                    <p class="lead" th:if="${#strings.length(huerta.cuerpo) <= 50}" th:text="${huerta.cuerpo}"></p>
                    <p class="lead" th:if="${#strings.length(huerta.cuerpo) > 50}" th:text="${#strings.substring(huerta.cuerpo, 0, 50) + '...'}"></p>
                    <a th:href= "@{/huerta/huerta_one/__${huerta.idHuerta}__} " class="btn btn-outline-secondary btn-sm px-4">Ver mas</a>
                    <a th:href="@{/huerta/modificar/__${huerta.idHuerta}__}" class="btn btn-outline-secondary btn-sm px-4">Editar</a>
                    <a th:if="${huerta.altaBaja}"  type="button" class="btn btn-outline-warning btn-sm px-4" th:href= "@{/huerta/baja/__${huerta.idHuerta}__} ">Dar de baja</a>
                    <a th:if="${!huerta.altaBaja}"  type="button" class="btn btn-outline-success btn-sm px-4" th:href= "@{/huerta/alta/__${huerta.idHuerta}__} ">Dar de alta</a>
                    <p th:if="${huerta.altaBaja}" th:text="Activa" class="text-success fw-bold"></p>
                    <p th:if="${!huerta.altaBaja}" th:text="Inactiva" class="text-danger fw-bold"></p>
                    <p class="text-huertaList text-secondary" ></p> 
                    <p class="text-huertaList text-secondary" th:text="${huerta.altaBaja ? 'Campaña comenzada el: ' + huerta.fechaAlta : 'Huerta supendida el: ' + huerta.fechaBaja}"></p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" th:src="@{/imagen/huerta/__${huerta.idHuerta}__}" alt="">
                </div>
            </div>
            <div th:if="${huerta.altaBaja == true}"  sec:authorize="not(hasRole('ROLE_ADM'))" class="row featurette py-5 huertaPost">
                <div  class=" col-md-6">
                    <h3 class="featurette-heading fw-normal lh-1 text-center" th:text="${huerta.nombreHuerta}"></h3>
                    
                    <p class="lead" th:if="${#strings.length(huerta.cuerpo) <= 50}" th:text="${huerta.cuerpo}"></p>
                    <p class="lead" th:if="${#strings.length(huerta.cuerpo) > 50}" th:text="${#strings.substring(huerta.cuerpo, 0, 50) + '...'}"></p>
                    <a th:href= "@{/huerta/huerta_one/__${huerta.idHuerta}__} "  class="btn btn-outline-secondary btn-sm px-4">Ver mas</a>
                    <p class="text-huertaList text-secondary" ></p> 
                    <p class="text-huertaList text-secondary" th:text="${huerta.altaBaja ? 'Huerta activa el: ' + huerta.fechaAlta : 'Huerta cosecha el: ' + huerta.fechaBaja}"></p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" th:src="@{/imagen/huerta/__${huerta.idHuerta}__}" alt="">
                </div>
            </div>
        </div>
    </div>
    <button id="btn-cargar-mas-huertas" class="btn btn-outline-secondary col-4 mx-auto">Cargar más</button>
</div>



<footer th:replace="/fragments/footer :: footer" ></footer>
<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/verMas.js" type="text/javaScript"></script>
<script src="/js/eventos.js" type="text/javaScript"></script>


</body>

</html>