<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
    data-bs-theme="light">

<head th:replace="/fragments/head :: head"> </head>

<body>
    <!--en este header se encuentra el nav  <div class="hero"></div>-->
    <header>
        <nav th:replace="/fragments/navbar :: nav"></nav>
    </header>

    <!--PRESENTACION DE LA PAGINA-->
    <div class="px-4 py-5 my-2 text-center" id="tituloPresentacion">
        <h1 class="text-pre">HUERTA AGROECOLOGICA</h1>
        <div class="col-lg-7 mx-auto">
            <p class="lead my-2 mb-2 text-body">Bienvenidos:  Buscamos incentivas la práctica agroecológica, con el
                fin de maximizar la producción, teniendo encuenta la agrobiodiversidad, los tipos de suelo, contextos
                socioecológicos y la sustentabilidad alimentaria ya que atraves de la agroecologia se puede fomentar
                la resiliencia ecologica y social de los sistemas productivos.
                A través de esta aplicación brindaremos herramenta reales de difusión y generación  de conocimiento
                práctico y conexión entre productores y consumidores.
                
                Únete a HuertaAgroecologica para fortalecer tu reputación como líder responsable y contribuir a un futuro más
                verde.</p>

        </div>
    </div>


    <!--CARD NOVEDADES-->
</body>

</html>