<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security" data-bs-theme="light">
   <head  th:replace = "/fragments/head :: head"> </head>
    <header>
        <nav  th:replace = "/fragments/navbar :: nav"> </nav>
    </header>
    <body>

       

        <div class="container my-2">
            <h1 th:if="${session.usuariosession != null}" th:text="'¡Hola de nuevo! ' + ${consumidor.nombreConsumidor}" class="display-6 mt-4"></h1>

            <div th:if="${session.usuariosession.altaBaja == false}" class="accordion">
                <div class="accordion-item  mt-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <h1 class="fs-5">Huertas</h1>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Actualmente te encuentras inactivo. No tienes permisos para comprar y publicar.</div>
                    </div>
                </div>
            </div>
            <hr class="my-4">

            <!-- Seccion Publicaciones -->
            <h1 th:if="${publicaciones != null and #lists.size(publicaciones) > 0}" class="fw-bold text-center">Mis Publicaciones</h1>
            <div class="container my-5">
                <div class="row" th:if="${publicaciones != null}">
                    <div class="col-md-6 col-lg-4 mb-4" th:each="publicacion : ${publicaciones}">
                        <a th:href="@{/publicacion/modificar/__${publicacion.idPublicacion}__}" target="_blank" class="a-card">
                            <div class="card shadow">
                                <img th:src="@{/imagen/publicacion/__${publicacion.idPublicacion}__}" class="card-img-top" id="img-card-tamaño-pequeño" alt="...">
                                <div class="card-body">
                                    <h1 class="fs-5 a-subrayado" th:text="${publicacion.titulo}"></h1>
                                    <p th:text="${publicacion.descripcion}"></p>
                                    <h7 class="card-votante">
                                        <span th:if="${publicacion.Huerta != null}" th:text="'Huerta: ' + ${publicacion.Huerta.nombreHuerta}" class="fw-bold"></span>
                                        <span th:if="${publicacion.cultivo != null}" th:text="'Cultivo: ' + ${publicacion.cultivo.nombreCultivo}" class="fw-bold"></span>
                                    </h7>
                                    <p th:if="${publicacion.altaBaja}" th:text="Activa" class="text-success fw-bold"></p>
                                    <p th:if="${!publicacion.altaBaja}" th:text="Inactiva" class="text-danger fw-bold"></p>
                                    <div class="row m-2">
                                        <a th:if="${session.usuariosession.altaBaja == true}" th:href="@{/publicacion/modificar/__${publicacion.idPublicacion}__}" target="_blank" class="btn btn-warning mt-2">Modificar</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div th:unless="${publicaciones != null and #lists.size(publicaciones) > 0}" class="text-center fw-bold">
                    <p>No tienes publicaciones.</p>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="/js/mensajeFormulario.js"/></script>
    <script src="/js/eventos.js" type="text/javaScript"></script>
</body>
</html>
